body {
    background-color: #f0f8ff;
}
img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
p {
    font-family: Consolas, "Courier New", monospace;
    font-size: 20px;
    width: 900px;
    line-height: 1.2;
}
strong {
    font-size: 24px;
}
li {
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.player{
    color: #213448;
}
.info{
    color: #9932cc ;
}
.gmtext{
    color: #000000;
    background-color: #ECEFCA;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 22px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.emote{
    color: #7f1734;
    font-style: oblique;
}
.npc{
    color: #213448;
}
.ooc{
    color: #009e60;
}