body {
    background-color: #FFFFFF;
}
img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
p {
    font-family: Consolas, "Courier New", monospace;
    font-size: 20px;
    width: 700px;
}
strong {
    font-size: 24px;
}
.player{
    color: #213448;
}
.info{
    color: #94B4C1;
}
.gmtext{
    color: #000000;
    background-color: #FFFFFF;
    border: 2px solid #213448;
    border-radius: 10px;
    font-size: 22px;
    padding-left: 10px;
}
.emote{
    color: #213448;
    font-style: oblique;
}
.npc{
    color: #213448;
}
.ooc{
    color: #66CC66;
}