body {
    background-color: #f0f8ff;
}
img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
div {
    background-color: #f0f8ff;
    width: 1000px;
}
p {
    font-family: Consolas, "Courier New", monospace;
    font-size: 20px;
    line-height: 1.2;
    width: 800px;
}
strong {
    font-size: 24px;
}
li {
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.player{
    color: #FFFFFF;
    background-color: #101010;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.gmplayer{
    color: #FFFFFF;
    background-color: #101010;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-style: bold;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.whisper{
    color: #DA8ADB;
    background-color: #1E1E1E;
    border: 2px solid #979797;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.info{
    color: #DA8ADB;
}
.gmtext{
    color: #FFFFFF;
    background-color: #3B3B3B;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    font-size: 22px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.emote{
    color: #63F7ED;
    font-style: oblique;
}
.npc{
    color: #FFE6AB;
    background-color: #101010;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}
.ooc{
    color: #66CC66;
}
